.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

body {
  padding: 0;
  margin: 0;
}

.board {
  height: 300px;
  width: 300px;
  background-color: palegreen;
  border: 1px solid white;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 33%;
  height: 100px;
  display: flex;
  border: 1px solid black;
  cursor: pointer;
  font-size: 16px;
  color: black;
  display: grid;

}